<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>
<h1>My Page</h1>
<div sec:authorize="isAuthenticated()">
    <p>Welcome. <span sec:authentication="name"></span> </p>
    <p>Your Role :: <span sec:authentication="principal.authorities"></span> </p>

    <p>Detail Info ::</p>
    <ul>
        <li>User name : <span sec:authentication="principal.username"></span> </li>
        <li>Account Expiry Status : <span sec:authentication="principal.accountNonExpired"></span> </li>
        <li>Account Lock Status : <span sec:authentication="principal.accountNonLocked"></span> </li>
        <li>Credential Status : <span sec:authentication="principal.credentialsNonExpired"></span> </li>
        <li>Activation Status : <span sec:authentication="principal.enabled"></span> </li>
    </ul>

</div>
<div sec:authorize="!isAuthenticated()">
    <p>로그인이 필요합니다.</p><a th:href="@{/login}">로그인</a>
</div>
</body>
</html>